.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #0f0f1a;
  color: #e6eaf2;
  font-family: "Inter", sans-serif;
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 280px;
  background: rgba(255, 255, 255, 0.05);
  padding: 20px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.label {
  display: flex;
  flex-direction: column;
  font-size: 16px;
}


.select {
  margin-top: 8px;
  padding: 8px;
  border-radius: 6px;
  border: none;
  background: rgba(255, 255, 255, 0.1);
  color: black;
}

.button {
  margin-top: 10px;
  padding: 10px;
  background: teal;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s;
}

.button:hover {
  background: rgb(0, 180, 160);
}
